# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://<project-id>-pooler.<region>.aws.neon.tech/<database-name>?sslmode=require&prepareThreshold=0
SPRING_DATASOURCE_USERNAME=<username>
SPRING_DATASOURCE_PASSWORD=<password>

# Redis Configuration
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379

# Kafka Configuration
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT Configuration
JWT_SECRET=this_is%randomly$generated!sequence)of1characters&forStrong*jnc348yt87fbu39084cd98dry&^T%^$g2g2f
